<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="atom-url" value="http://xkcd.com/atom.xml"/>
		<add key="slack-webhook-url" value="https://hooks.slack.com/services/xxxx/xxxx/xxxxx"/>
		<add key="poll-frequency" value="00:15:00"/>
	</appSettings>
</configuration>